<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ticketngo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreenFinished"></activity>
        <activity android:name=".SplashScreen3" />
        <activity android:name=".SplashScreen2" />
        <activity android:name=".SplashScreen1" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CongratsInfoSent" />
        <activity android:name=".RecipientReview" />
        <activity android:name=".EnterRecipientEmail" />
        <activity android:name=".EnterRecipientName" />
        <activity android:name=".RecipientHomePage" />
        <activity android:name=".EnterNPSPassID" />
        <activity android:name=".EnterAmountOfPeople" />
        <activity android:name=".EnterGuestRoom" />
        <activity android:name=".TripHomePage" />
        <activity android:name=".SelectTodaysTrip" />
        <activity android:name=".SelectTodaysDate" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>